body {
  background-color: rgb(253, 253, 253);
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
}

.conteudoLateralEsquerda {
  display: flex;
  width: 18vw;
  position: fixed;
}

.conteudoLateralDireita {
  width:30vw;
  padding: 30px;
}

.conteudoCentral {
  width:60vw;
  margin: 0 0 0 15vw;
}