.containerCental{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.containerStory{
    display: flex;
    width: 90%;
    height: 150px;
    overflow: none;
    white-space: nowrap;
    justify-content: center;
}

#conteudoStory{
    display: flex;
    height: 150px;
    text-align: center;
    width: 100%;
}

.foto{
    width: 70px;
    height: 70px;
    border-radius: 50em;
    padding: 3px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) border-box;
    border: 2px solid transparent;
}

.foto:hover{
    cursor: pointer;
}

.cf{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgba(26,171,71,1) 39%, rgba(100,232,35,1) 82%) border-box;
}

.Story{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 0 10px;
}

#esquerda, #direita{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    font-size: 20px;
}
.existente{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5%;
}
.direita{
    right: 31%;
}


#esquerda:hover, #direita:hover{
    cursor: pointer;
    transform: scale(105%);
}

.coverStory{
    z-index: 0;
    position:absolute;
    display: flex;
    width: 50%;
    background-color: rgba(26,171,71,0);
    height: 120px;
    align-items: center;
    padding: 0 30px 0 0;
}